* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    background-color: #fecb2f;
    font-family: 'Poppins', sans-serif;
}

.top-navbar {
    padding: .2em 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dhl--logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.dhl--logo .express {
    display: flex;
    padding: 1em;
}

.dhl--logo .express h3 {
    color: #dc2616;
    font-size: 1em;
    font-weight: bold;
}

.dhl--logo img {
    width: 7em;
}

.top-underline {
    background-color: #fff;
    width: 100%;
    
}

.top-navbar .top-rt-nav a {
  padding: 1em;
  color: #000 !important;
  text-decoration: none;
  font-size: .89em;
}

.down-nav {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em 7em;
}

.down-lt-nav .home-link {
    color: #000 !important;
}
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /* padding: 14px 16px; */
    background-color: inherit;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    padding: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.ship-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5em;
    
}

.ship-dropdown h4 {
    color: #8a8a8a;
}

.ship--one,
.ship--two,
.ship--three {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.ship--one,
.ship--two,
.ship--three, h4 {
    text-align: left;
}

.ship--one,
.ship--two,
.ship--three, a {
    color: #f4f4f4 !important;
    font-size: 15px;
    padding: 0;
    line-height: .5em;
    margin-left: -1em;
    padding: 1em;
}


.down-nav .down-lt-nav {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-nav .down-lt-nav a {
    padding: 1em;
    text-decoration: none;
    color: #000;
}

.down-lt-nav .down-rt-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-nav .down-rt-nav a {
    padding: 1em;
    text-decoration: none;
    color: #000 !important;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}



/**** Header ****/

#header {
    background-image: url("../images/gh_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #727272;
    z-index: 2; */
    height: 45rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5em;
}

.hero-first-sec {
    display: flex;
    padding: 15em .5em;
    justify-content: center;
    align-items: center;

}

.hero-first-sec .welcome-msg {
    color: #fff;
    width: 22em;
    line-height: 2.3em;
    
}

.hero-first-sec 
.welcome-msg p {
    font-size: 20px;
    letter-spacing: .02em;
}

.hero-first-sec 
.welcome-msg p h1 {
    font-size: 2em;
    font-weight: bold;
}

.form-shipment {
    background-color: rgb(88, 87, 82, .7);
    color: #fff;
    padding: 1.5em;
    border-radius: 5px;
    
}

.form-shipment
.form-shipment-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.form-shipment
.form-shipment-form h2 {
    padding: .7em 0;
    text-align: left;
}

.form-shipment
.form-shipment-form 
.input-form input {
    width: 18em;
    height: 3em;
    text-align: center;
    border-top: 0;
    border: 0;
    border-right: #000 !important;
    outline: 0;
    margin-right: .1em;
}



.hero-cards {
    color: black;
    
   
}

.hero-cards
.long-card {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.hero-cards
.long-card
.card--one {
    background:url(../images//vertical-line-50.png) center right -1.37em no-repeat;
    background-color: #fff;
    padding: .5em 2em !important;
    margin: 0; 
    box-shadow: -2px 9px 41px -18px rgba(0,0,0,0.75);
}

.hero-cards
.long-card
.card--two {
    padding: .5em .5em;
    margin: 0 .03em;
}

.hero-cards
.long-card
.card--two:last-child {
    background-image: none;
}

.hero-cards
.long-card
.card--one:hover {
    box-shadow: -1px 10px 24px -9px rgba(0,0,0,0.75);
    z-index: 2 !important;
    background-image: none;

}



.hero-cards
.long-card
.card--one:last-child {
    padding: .5em 2em;
    background-image: none;
}

.hero-cards
.long-card
.card--one a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}

.hero-cards
.long-card
.card--one a 
.card--desc, .card-icon {
    padding: .5em 1em;
    color: #6b7280;
}

.hero-cards
.long-card
.card--one a
.card--desc {
    color: #007acc;
}

.hero-cards
.long-card
.card--one a
.card-icon {
    padding: .3em;
    font-size: 2em;
}

.hero-cards
.long-card
.card--one a:hover, .card-icon:hover {
    color: #007acc;
}

.card--desc {
    color: #000;
}

.card--form {
    background-color: #fecb2e !important;
    width: 24em;
    padding: .2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 9px 41px -18px rgba(0,0,0,0.75);
}

.long-card 
.card--form form {
    padding: 1.4em 0;
}


.major-card {
    background-color: #fff;
    width: 21em;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding: 0 .8em;
    
    

}

.major-card .track-search {
    width: 16em;
    padding: 1.5em;
    margin: 0 1em 0 0;
    outline: none;
    border: none;
}



.card--form
.major-card label
button {
    padding: 1em 2em;
    background-color: rgba(0, 128, 0);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}

.card--form
.major-card label
button:hover {
    background-color: rgba(0, 128, 0, .9);
}




/***** Carousel Section ****/

.main-carousel {
    background-color: #007acc;
    padding: 3em;
    font-family: 'Poppins', sans-serif;
}

/* SwiperSlide {
    overflow: hidden;
} */

.swiper--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.side--content {
    background-color: rgba(255, 252, 243, .9);
    display: flex;
    flex-direction: column;
    padding: 1.8em 1em;
    position: absolute;
    top: .1em;
    z-index: 2;
    left: 49.5em;
    height: 21.8em;

}

.side--content-three {
    left: 48.22em;
    height: 22.35em;
}

.side--content-four {
    padding: 1.8em 1em;
    width: 24em;
    left: 49.55em;
}

.side--content-four h1 {
    font-size: 1.4em !important;
    padding: .5em;
}

.side--content-five {
    width: 24em;
}

.swiper-link-five
.on-swiper-link-five {
    padding: 1.2em 2em !important;
}

.side--content h1 {
    font-size: 1.5em;
    padding: .6em 0;
}

.side--content .swiper--desc {
    width: 22em;
    line-height: 1.5em;
    padding: 2em 0;
}

.swiper-link {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-link .on-swiper-link {
    color: #000 !important;
    background-color: #fecb2e;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 1em 4.2em;
    border-radius: .2em;

}

.swiper-link .on-swiper-link:hover {
    background-color: #ebb208;
    transition: background-color 20ms ease-in-out;
}

.swiper--long-img {
    position: relative;
}

