* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    background-color: #fecb2f;
    font-family: 'Poppins', sans-serif;
}

.top-navbar {
    padding: .2em 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dhl--logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.dhl--logo .express {
    display: flex;
    padding: 1em;
}

.dhl--logo .express h3 {
    color: #dc2616;
    font-size: 1em;
    font-weight: bold;
}

.dhl--logo img {
    width: 7em;
}

.top-underline {
    background-color: #fff;
    width: 100%;
    
}

.top-navbar .top-rt-nav a {
  padding: .5em;
  color: #000 !important;
  text-decoration: none;
  font-size: .89em;
}

.down-nav {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em 7em;
}

.down-lt-nav .home-link {
    color: #000 !important;
}
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /* padding: 14px 16px; */
    background-color: inherit;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    padding: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.ship-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.ship-dropdown h4 {
    color: #8a8a8a;
}

.ship--one,
.ship--two,
.ship--three {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 1.5em;
}

.ship--one,
.ship--two,
.ship--three h4 {
    text-align: left;
}

.ship--one,
.ship--two,
.ship--three, a {
    color: #f4f4f4 !important;
    text-align: left;
    font-size: 15px;
    padding-left: -5em;
}


.down-nav .down-lt-nav {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-nav .down-lt-nav a {
    padding: 1em;
    text-decoration: none;
    color: #000;
}

.down-lt-nav .down-rt-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-nav .down-rt-nav a {
    padding: 1em;
    text-decoration: none;
    color: #000 !important;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

